@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif:400');
@import url('reset.css');




/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 100%;
    /*16px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}*/

body {
    background-color: #f5f5ed;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Removes bottom gap */
}

/* Typography Styles */

p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.2rem;
    /*    margin-bottom: 1rem;*/
}

h1,
h2,
h3 {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    line-height: 1.25;
}

h4,
p {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 6rem;
    color: #013e61;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.8rem;
    line-height: 1.75;
}

small,
.text_small {
    font-size: 0.8rem;
}

a {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: #265d77;
}

b {
    font-weight: 600;
}

span {
    display: block;
}

/* CSS Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(20px, 60px) minmax(70vh, 100vh) min-content 90vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "hero hero hero hero hero hero hero hero hero hero hero hero"
        "portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
}


/* Layout Styles */

.grid-container * {
    border: solid 1px red;
    /* to delete */
    width: 100%;
    height: 100%;
}

/* Holding Page */

.holding-page {
    background: linear-gradient(90deg, rgba(209, 236, 246, 1) 81%, rgba(179, 220, 206, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.holding-page-text {
    color: #013e61;
}

/* Content */

/* Header */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        ". topnavleft topnavleft . . branding branding . . topnavright topnavright .";
    align-content: center;
    /*
    display: flex;
    justify-content: space-around;
    align-items: center;
*/
    position: sticky;
    top: 0px;
    /*    background-color: #f5f5ed;*/
}

.topnav-left {
    grid-area: topnavleft;
}

.branding {
    grid-area: branding;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
}

.topnav-right {
    grid-area: topnavright;
    display: flex;
    justify-content: flex-end;
}

/* Hero */

.hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        ". hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting ."
        ". hero-message hero-message hero-message hero-message hero-message hero-message hero-message hero-message hero-message hero-message ."
        ". hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text .";
    align-content: center;
    background: rgb(38, 93, 119);
    background: linear-gradient(25deg, rgba(38, 93, 119, 1) 0%, rgba(37, 107, 140, 1) 100%);
    color: #ffffff;
}

.hero-greeting {
    grid-area: hero-greeting;
}

.hero-message {
    grid-area: hero-message;
    color: #ffffff;
    margin-top: 0.1em;
}

.hero-text {
    grid-area: hero-text;
    margin-top: 3rem;
}

#hero-span {
    margin-top: 1rem;
}

/* Portfolio */

.portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, min-content);
    grid-template-areas:
        "project-1 project-1 project-1 project-1 project-1 project-1 project-1 project-1 project-1 project-1 project-1 project-1"
        "project-name-1 project-name-1 project-name-1 project-name-1 project-name-1 project-name-1 project-name-1 project-name-1 project-name-1 project-name-1 project-name-1 project-name-1"
        "project-2 project-2 project-2 project-2 project-2 project-2 project-2 project-2 project-2 project-2 project-2 project-2"
        "project-name-2 project-name-2 project-name-2 project-name-2 project-name-2 project-name-2 project-name-2 project-name-2 project-name-2 project-name-2 project-name-2 project-name-2 "
        "project-3 project-3 project-3 project-3 project-3 project-3 project-3 project-3 project-3 project-3 project-3 project-3"
        "project-name-3 project-name-3 project-name-3 project-name-3 project-name-3 project-name-3 project-name-3 project-name-3 project-name-3 project-name-3 project-name-3 project-name-3 "
        "project-4 project-4 project-4 project-4 project-4 project-4 project-4 project-4 project-4 project-4 project-4 project-4"
        "project-name-4 project-name-4 project-name-4 project-name-4 project-name-4 project-name-4 project-name-4 project-name-4 project-name-4 project-name-4 project-name-4 project-name-4";
    background-color: #f5f5ed;
    margin: 1em 0 4em 0;
}

.project-container {
    padding-top: 3.5rem;
}

/*
.project-description-overlay {
    display: none;
}

.project-container:hover .project-description-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

#project-1 {
    grid-area: project-1;
    padding-top: 2em;
}

#project-2 {
    grid-area: project-2;
}

#project-3 {
    grid-area: project-3;
}

#project-4 {
    grid-area: project-4;
}

.project-name h2 {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
}

.project-name-1 {
    grid-area: project-name-1;
}

.project-name-2 {
    grid-area: project-name-2;
}

.project-name-3 {
    grid-area: project-name-3;
}

.project-name-4 {
    grid-area: project-name-4;
}

/* Footer */

.footer {
    grid-area: footer;
    background: #265d77;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        ". about about about about about about about about about about ."
        "marquee marquee marquee marquee marquee marquee marquee marquee marquee marquee marquee marquee";
}

.about {
    grid-area: about;
    color: white;
    /*
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat (2, 1fr);
    grid-template-areas: 
        "connect"
        "email";
    justify-items: center;
*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about a,
h1 {
    color: white;
}

.connect {
    grid-area: connect;
    display: flex;
    justify-content: center;
}

.email h2 {
    grid-area: email;
    display: flex;
    justify-content: center;
}

.marquee {
    grid-area: marquee;
    position: relative;
    bottom: 0px;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;
    font-size: 40px;
    background-color: #f5f5ed;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Responsive Web */

/* Medium devices (tablets, 768px and up) The navbar toggle appears at thfis breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        flex-direction: row;
    }

    h1 {
        font-size: 9rem;
    }

    h4 {
        font-size: 2.4rem;
    }

    .grid-container {
        grid-template-rows: min-max(20px, 60px) 70vh min-content 90vh;
    }

    .hero {
        grid-template-rows: repeat(3, min-content);
        grid-template-areas:
            ". hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting hero-greeting ."
            ". hero-message hero-message hero-message hero-message hero-message hero-message hero-message hero-message hero-message hero-message ."
            ". hero-text hero-text hero-text hero-text . . . . . . .";
    }

    .portfolio {
        grid-area: portfolio;
        grid-template-rows: repeat(4, min-content);
        grid-template-areas:
            ". project-name-1 project-name-1 project-name-1 project-name-1 project-name-1 project-1 project-1 project-1 project-1 project-1 project-1"
            ". project-2 project-2 project-2 project-2 project-2 project-2 project-name-2 project-name-2 project-name-2 project-name-2 ."
            ". project-name-3 project-name-3 project-name-3 project-name-3 project-3 project-3 project-3 project-3 project-3 project-3 ."
            "project-4 project-4 project-4 project-4 project-4 project-4 project-name-4 project-name-4 project-name-4 project-name-4 project-name-4 .";
    }

    /*
    .project-description-overlay {
        display: grid;
    }
*/

    .project-container {
        padding-top: 4em;
    }

    .project-name h2 {
        display: flex;
        align-items: flex-end;
        padding: 1rem;
    }

    .project-name-1 {
        grid-area: project-name-1;
        display: flex;
        justify-content: flex-end;
    }

    .project-name-2 {
        grid-area: project-name-2;
        display: flex;
        justify-content: flex-start;
    }

    .project-name-3 {
        grid-area: project-name-3;
        display: flex;
        justify-content: flex-end;
        text-align: right;
    }

    .project-name-4 {
        grid-area: project-name-4;
        display: flex;
        justify-content: flex-start;
    }

    .about h2 {
        font-size: 6rem;
    }
}

/* Project Page */

.project-page-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(20px, 60px) 1fr 90vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "header header header header header header header header header header header header"
        ". project-detail project-detail project-detail . project-main project-main project-main project-main project-main project-main ."
        "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.project-detail {
    grid-area: project-detail;
    position: sticky;
    top: 100px;
}

.arrow-nav {
    display: flex;
}

.fa-angle-double-right,.fa-angle-double-left {
    padding: 1em 1em 1em 0;
    margin-right: 2em;
}

.project-main {
    grid-area: project-main;
}

.project-detail-left {
    grid-area: project-detail-left;
}

.project-detail-right {
    grid-area: project-detail-right;
}

.project-content {
    grid-area: project-content;
}
