@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('reset.css');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


html {
    font-size: 100%;
    /*16px*/
}

/*
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}
*/

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Removes bottom gap */
}

/* Typography Styles */

p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

h1,
h2,
h3 {
    margin: 3rem 0 1.38rem;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 7rem;
    color: #013e61;
}

h2 {
    font-size: 2.441rem;

}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}


/* Layout Styles */

/*
.header {
    display: flex;
    flex-direction: column;
}
*/

.holding-page {
    background: linear-gradient(90deg, rgba(209, 236, 246, 1) 81%, rgba(179, 220, 206, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.holding-page-text {
    padding: 4em;
    color: #013e61;
}

.project-container {
    background: white;
    min-height: 100vh;
}

.footer {
    background: orangered;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Responsive Web */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    body {
        background: lightblue;
    }

    .hero {
        padding: 3em;
    }

    .hero-text {
        padding: 4em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background: purple;
        flex-direction: row;
    }
}
